/00README.txt
/00README_Raw_Resampled_by_KCC_CFA_Low_Resolution.txt
/00README_Raw_Resampled_by_KCC_CFA_Medium_Resolution.txt
/00README_Raw_Resampled_by_example_resample_laser_Low_Resolution.txt
/00README_Raw_Resampled_by_example_resample_laser_Medium_Resolution.txt
/LA-ICP-MS_Raw_Resampled_by_KCC_CFA_LR.csv
/LA-ICP-MS_Raw_Resampled_by_KCC_CFA_MR.csv
/LA-ICP-MS_Raw_Resampled_by_example_resample_laser_LR.csv
/LA-ICP-MS_Raw_Resampled_by_example_resample_laser_MR.csv
/full_core_information.csv
