/00README.txt
/00README_Raw_Low_Resolution.txt
/00README_Raw_Medium_Resolution.txt
/00README_Raw_Resampled_by_KCC_CFA_Low_Resolution.txt
/00README_Raw_Resampled_by_KCC_CFA_Medium_Resolution.txt
/00README_Raw_by_Run_Low_Resolution.txt
/00README_Raw_by_Run_Medium_Resolution.txt
/LA-ICP-MS_Raw_Resampled_by_KCC_CFA_LR.csv
/LA-ICP-MS_Raw_Resampled_by_KCC_CFA_MR.csv
/LA-ICP-MS_Raw_by_Run_LR.csv
/LA-ICP-MS_Raw_by_Run_MR.csv
/LA-ICP-MS_raw_LR.csv
/LA-ICP-MS_raw_MR.csv
/full_core_information.csv
